<!DOCTYPE html>
<html lang="en">
<head>

  <title>Home</title>
</head>
<body>
    <div class="signupFrm">
      <section>
        <section action="" class="form" >
          <h1 class="title">Home</h1>
    
          <div class="inputContainer">
            <button type="submit" class="submitBtn" value="add station" (click)="createStation()"> Add new station </button>
        </div>
    
          <div class="inputContainer">
            <button type="submit" class="submitBtn" value="add trip" (click)="createTrip()" > Add new trip </button>
        </div>
    
          <div class="inputContainer">
            <button type="submit" class="submitBtn" value="go to admins" (click)="goToAdmins()"> Go to admin list </button>
        </div>
    
        <div class="inputContainer">
            <button type="submit" class="submitBtn" value="go to stations" (click)="goToStations()"> Go to station list </button>
        </div>

        <div class="inputContainer">
            <button type="submit" class="submitBtn" value="go to trips" (click)="goToTrips()"> Go to trip list </button>
        </div>

    </section>
      </section>
      </div>
</body>
</html>