<!DOCTYPE html>
<html lang="en">
<head>

  <title>station</title>
</head>
<body>
    <div class="signupFrm">
      <section>
        <section action="" class="form" >
          <h1 class="title">Update station</h1>
        
          <div class="inputContainer">
            <input type="text" class="input" placeholder="a"
            [(ngModel)]="station.name" name="name"
            >
            <label for="" class="label">Station name</label>
          </div>
    
          <button type="submit" class="submitBtn" value="Sign up" (click)="onSubmit()" > Update station </button>
        </section>
        </section>
      </div>
</body>
</html>